@import url(https://fonts.googleapis.com/css?family=Readex+Pro:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@200&family=Ubuntu:wght@500&display=swap");
.main-page5_box-sign, .main-page5_ex-search, .main-page5_ex-searchs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page3_box img, .main-page2_card img {
  transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1.5px solid black;
  padding: 5px;
}

@media screen and (max-width: 1140px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 560px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 8px;
  }
}

.wrapper {
  min-width: 100vw;
  position: relative;
  font-family: "Readex Pro", sans-serif;
}

.container {
  width: 100%;
  max-width: 1274px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #FFFFFF;
}

.header {
  position: relative;
}
.header-nav {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 120%;
  text-transform: uppercase;
  padding: 1.93rem 0 2.06rem 0;
}
.header-navbar {
  position: relative;
}
.header-navbar_icons {
  display: flex;
  justify-content: unset;
  align-items: center;
}
@media screen and (max-width: 991.5px) {
  .header-navbar_icons {
    display: none;
  }
}
.header-navbar_icon {
  background-color: transparent;
}
.header-navbar_icon:not(:last-child) {
  margin-right: 1.69rem;
}
.header-main {
  height: 100%;
  margin: 3.125rem 0px;
}
.header-main_content {
  background: #DCE5E2;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 3.5rem;
}
.header-main_content-left {
  width: 40%;
  height: 100%;
}
.header-main_content-right {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: unset;
  align-items: center;
}
.header-main_content-right img {
  width: 100%;
  height: 100%;
}
.header-main_title {
  font-weight: 500;
  font-size: 3.625rem;
  line-height: 120%;
  margin-bottom: 1.2rem;
}
.header-main_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
}
.header-main_btn {
  padding: 0.9rem 3.3rem;
  border: 1px solid #000000;
  border-radius: 200px;
  margin-top: 1.9rem;
  background-color: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 120%;
  color: #000000;
}

.nav-item:not(:last-child) {
  margin-right: 2.07rem;
}

.main {
  position: relative;
}
.main-page1 {
  text-align: center;
  padding-bottom: 4.9rem;
}
.main-page1_info {
  width: 64%;
  font-weight: 400;
  margin: 0 auto;
  padding: 4.7rem 0 3.4rem 0;
  text-align: center;
}
.main-page1_title {
  font-size: 2.625rem;
  line-height: 125%;
  font-weight: 400 !important;
}
.main-page1_text {
  font-size: 0.9rem;
  line-height: 120%;
}
.main-page1_boxes {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page1_boxes-left {
  width: 48%;
  height: 100%;
}
.main-page1_boxes-left-box1 {
  width: 100%;
  height: 68%;
  padding: 2.5rem;
  box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
}
.main-page1_boxes-left-box1 img {
  width: 100%;
  height: 100%;
}
.main-page1_boxes-left-box2 {
  width: 100%;
  height: 250px;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
}
.main-page1_boxes-left-box2 img {
  width: 50%;
  height: 100%;
}
.main-page1_boxes-right {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page1_boxes-right-box3 {
  width: 48%;
  height: 100%;
  padding: 12.5rem 1.25rem;
  box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
}
.main-page1_boxes-right-box3 img {
  margin-bottom: 2.625rem;
  width: 100%;
  height: 50%;
}
.main-page1_boxes-right-box4 {
  width: 48%;
  height: 100%;
  padding: 12.5rem 1.25rem;
  box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -2px 1px 65px 6px rgba(0, 0, 0, 0.15);
}
.main-page1_boxes-right-box4 img {
  margin-top: 2.625rem;
  width: 100%;
  height: 50%;
}
.main-page2 {
  position: relative;
  width: 100%;
}
.main-page2_cards {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page2_card {
  width: 23%;
  height: 500px;
  padding: 1.25rem;
}
.main-page2_card:not(:last-child) {
  margin-right: 1rem;
}
.main-page2_card img {
  margin-bottom: 2.25rem;
}
.main-page2_card img:hover {
  transform: scale(1.1);
}
.main-page2_card-title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 125%;
  margin-bottom: 0.6rem;
}
.main-page2_card-desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 120%;
}
.main-page2_card-price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 120%;
  margin-top: 1.6rem;
}
.main-page3 {
  position: relative;
  padding-bottom: 4.7rem;
}
.main-page3-info {
  margin-bottom: 2.75rem;
}
.main-page3_boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page3_box {
  width: 30%;
  padding: 1.25rem;
  text-align: center;
  background-color: #F8F9FA;
}
.main-page3_box:not(:last-child) {
  margin-right: 1.75rem;
}
.main-page3_box img:hover {
  transform: scale(1.1);
}
.main-page4 {
  position: relative;
  padding-bottom: 4.6rem;
}
.main-page4_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4.6rem;
}
.main-page4_img {
  width: 48%;
}
.main-page4_text {
  width: 48%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 125%;
  padding: 0 2.19rem;
}
.main-page4_direct {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 120%;
  text-align: center;
  cursor: pointer;
}
.main-page5 {
  position: relative;
}
.main-page5_info {
  margin-bottom: 1.5rem;
  padding: 1.25rem 0 0 0;
}
.main-page5_search {
  width: 55%;
  height: 3.75rem;
  border: 2px solid gray;
  border-radius: 50px;
  background-color: #F8F9FA;
  margin: 0 auto;
  display: flex;
  justify-content: unset;
  align-items: center;
  padding: 1.125rem 1.25rem;
}
.main-page5_search input {
  width: 100%;
  border: 0;
  outline: 0;
  padding-left: 1.375rem;
  background-color: #F8F9FA;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  color: #000000 !important;
}
.main-page5_ex-searchs {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1.125rem;
  margin-bottom: 4.25rem;
}
.main-page5_ex-search {
  width: auto;
  height: 42px;
  border: 1px solid gray;
  border-radius: 200px;
  cursor: pointer;
  padding: 0.75rem 1.375rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 120%;
}
.main-page5_ex-search:not(:last-child) {
  margin: 0 0.45rem 0.45rem 0;
}
.main-page5_ex-search:hover {
  background-color: gray;
  color: #FFFFFF;
}
.main-page5_box {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  background-color: #DCE5E2;
  border-radius: 16px;
  text-align: center;
  padding-bottom: 2.95rem;
}
.main-page5_box-info {
  text-align: center;
}
.main-page5_box-info-plus {
  padding-bottom: 0;
  margin-bottom: 0.875rem;
}
.main-page5_box-sign {
  width: 50%;
  height: 9%;
  border: 1px solid #000000;
  border-radius: 50px;
  margin: 1.58rem auto;
}
.main-page5_box-sign input {
  width: 70%;
  height: 40px;
  border-radius: 50px 0 0 50px;
  border: 0;
  outline: 0;
  padding: 1rem 1.125rem;
  background-color: transparent;
}
.main-page5_box-sign button {
  width: 30%;
  height: 40px;
  border-radius: 0 50px 50px 0;
  background-color: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 120%;
  color: #FFFFFF;
}
.main-page5_box-sign button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.footer {
  position: relative;
  background-color: #F8F9FA;
  margin: 0.625rem 0;
  padding: 1.25rem 0;
  border-top: 2px solid lightgray;
}
.footer-main {
  display: flex;
}
.footer-main_column {
  width: 19%;
}
.footer-main_column img {
  margin-bottom: 1.2rem;
}
.footer-main_column-plus {
  width: 25%;
  margin-right: 6.25rem;
}
.footer-main_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
}
.footer-main_title {
  margin-bottom: 1.2rem;
}
.footer-main_link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 200%;
  color: gray;
}
.footer-main_link:hover {
  text-decoration: underline;
  color: #000000;
}

.box-title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  text-align: right;
  color: #000000;
}

.box-subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 128%;
  text-align: right;
}
.box-subtitle-plus {
  text-align: center;
}

.box-info {
  width: 30%;
  text-align: center;
}

/* MADE BY: */
.gayratov {
  text-align: center;
  background-color: white;
}

#gayratov {
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}
#gayratov:hover {
  font-weight: 600;
}

/* - END - *//*# sourceMappingURL=main.css.map */